/* Your styles here */





header #logo {
    background-color: rgba(34,47,63,255);
    padding: 15px 15px;
}

header nav {
    background-color: rgba(54,71,89,255);
    padding: 5px 0
}

header nav a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    margin-left: 15px;
    
}

a:hover {
    color: hsl(0, 0%, 95%);
}

body {
    background-color: rgba(233,237,238,255);
}

main {
    margin: 2.8em;
}

main section, article {
    margin-bottom: 2em;
    background-color: white;
}

.bg-orange {
    background-color: orangered;
    padding: 5px 0;
    color: hsl(0, 0%, 90%);
}

.bg-image-gift {
    background-image: url(../images/bg-image.png);
    background-size: cover;
    height: 8em;
    
    color: white;
}

.bg-image-gift h1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 10px;
}

#four-images {
    padding: 1em;

}

#four-images img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 2em;
}

h2 {
    margin: 0 0 20px 0;
    font-size: larger;
    font-weight: bold;
}

.a-green {
    text-decoration: none;
    color: rgba(42,113,121,255);
}

.a-green:hover {
    color: rgba(42,200,121,255);
}

section #first img, section #second img {
    width: 100%;
    height: auto;

}

#pre-footer {
    padding: 10px 0;
    background-color: rgba(54,71,89,255);
}

#pre-footer a{
    color: white;
}

#logo-footer {
    background-color: rgba(34,47,63,255);
    padding: 3em 0;
    
}

.text-center {
    text-align: center;
}
